@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'variables';
@import '../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: "Raleway", sans-serif;
}

.login-section {
  max-height: 100%;

  &--wrapper {
    height: 100vh;
  }

  &--form {
    padding-right: 6rem;
    width: 50%;

    &-container {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-title {
      font-size: 2rem;
      font-weight: bold;
    }

    &-hint {
      color: $grey-dark;
      margin-bottom: 1rem;
    }

    .label {
      color: $grey-dark;
      font-size: 0.8rem;
      padding-left: .5rem;
    }

    .input {
      box-shadow: none;
      border-width: 2px;
      border-color: $light;
      transition: all .3s ease;

      &:focus,
      &:hover {
        border-color: $primary;
      }
    }

    &-submit {
      border-radius: 1.25rem 0.1rem 1.25rem 0.1rem;
      margin-top: 1rem;
      width: 100%;
    }

    &-forgot {
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: $primary;
      font-size: 0.8rem;
    }
  }

  &--img {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}